@font-face {
    font-family: "Druk Wide Cyr";
    src: url("https://db.onlinewebfonts.com/t/e7fa3e0f70e1466b2f73ee1ac39c8c30.eot");
    src: url("https://db.onlinewebfonts.com/t/e7fa3e0f70e1466b2f73ee1ac39c8c30.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/e7fa3e0f70e1466b2f73ee1ac39c8c30.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/e7fa3e0f70e1466b2f73ee1ac39c8c30.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/e7fa3e0f70e1466b2f73ee1ac39c8c30.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/e7fa3e0f70e1466b2f73ee1ac39c8c30.svg#Druk Wide Cyr")format("svg");
}


.onest {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s ease-out;
}

:root {
    --main-color: #0069FF;
    --font-accent: "Druk Wide Cyr";
    --font-default: "Onest", sans-serif;
}






@media (prefers-color-scheme: dark) {

    :root {
        --bg-element: #ffffff10;
        --color-element: #ffffff;
        --width: 1328px;
    }

    body {
        background-color: #000000;
        max-width: var(--width);
        margin: auto;
        padding: 0 20px;
    }

    .logo {
        font-family: var(--font-accent);
        text-decoration: none;
        color: var(--main-color);
        font-size: 24px;
    }

    header {
        align-items: center;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #00000001;
        backdrop-filter: blur(160px);
        z-index: 1001;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        max-width: var(--width);
        margin: auto;
    }

    .logoAndNav {
        display: flex;
        align-items: center;
        gap: 80px
    }

    nav {
        display: flex;
        gap: 20px
    }

    nav > a {
        font-family: var(--font-default);
        text-decoration: none;
        color: #aeaeae
    }

    nav > a:hover {
        color: white;
    }

    .doEffect {
        height: 40px;
        background: var(--main-color);
        border: 0;
        border-radius: 5px;
        outline: 0;
        padding: 0 40px;
        color: white;
        font-weight: 500;
        font-family: var(--font-default);
    }

    .doEffect:hover {
        border-radius: 40px;
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    main {
        padding: 240px 0;
    }


    .welcome {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .welcome > h1 {
        font-family: var(--font-accent);
        font-size: 64px;
        color: #ffffff;
        text-align: center;
        z-index: 0;
        animation: toBottom 4s;
    }

    .glass1 {
        width: 233px;
        position: absolute;
        left: 0;
        animation: toBottom 2s;
    }
    .glass2 {
        width: 347px;
        position: absolute;
        z-index: -1;
        animation: toBottom 3s;

    }
    .glass3 {
        width: 321px;
        position: absolute;
        right: 0;
        animation: toBottom 2.5s;
    }

    @keyframes toBottom {
        from {
            translate: 0 -200px;
            opacity: 0;
        }
        to {
            translate: 0;
        }
    }

    @media (max-width: 1117px) {
        .welcome {
            display: flex;
            justify-self: center;
        }
        .welcome > h1 {
            text-align: left;
        }
        .glass1 {
            left: unset
        }
        .glass2 {
            display: none;
        }

        .glass3 {
            display: none;
        }
    }


    @media (max-width: 748px) {

        nav {
            display: none;
        }

        header > .doEffect {
            display: none;
        }

        .menu {
            display: unset;
        }

    }
    
    @media (max-width: 702px) {
        .welcome > h1 {
            font-size: 36px;
        }
    }
}